<div class="card-content">
    <div class="card-img">
        <img *ngIf="!destino.url; else img2" src="https://placeimg.com/380/230/nature" alt="">
        <ng-template #img2><img src="{{destino.url}}" alt=""></ng-template>
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: darkcyan;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Ir!</a>
        <span *ngIf="destino.isSelected()" style="margin-left: 15px;">
            <span ngNonBindable>{{FAVORITO}}</span>
        </span>
    </div>
</div>