<div class="page-header">
    <div class="container">
        <h1>Ruteo Simple</h1>
        <div class="navLinks">
            <a [routerLink]="['/home']" class="ml-2">Home</a>
            <a [routerLink]="['/destino']" class="ml-2">Destino</a>

        </div>
    </div>

    <div class="jumbotron">
        <h1>App {{title}}</h1>
        <p class="lead">Destinos</p>
        <hr class="my-2">
    </div>
    <div class="container content">
        <div class="row">
        </div>
        <router-outlet></router-outlet>
    </div>
    
    <hr class="mb-5">

    Fecha: {{time | async}}